.card{
    padding-left: 0%;
    align-content: center;
  }

  .Admin.card{
    align-content: center;
    justify-content: center;
    background-color:white;
    height: 520px;
    border-style:none;
    border-radius: 15px;
  } 